.banda {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container p {
    display: inline-block;
    line-height: 1em;
}

.reloj {
    font-family: Oswald, Arial;
    color: #ffffff;
    width: 100%;
    padding: 20px;
    font-size: 4em;
    text-align: center;
    background: #21252981;
}